/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-size: 1.2rem;
}
thead {
    background: #e4e4e4;
}
th, td {
    padding: 4px;
    text-align: center;
}
table input[type="number"] {
    max-width: 30px;
}
tbody tr > td:first-of-type {
    text-align: left;
    font-weight: bold;
    background: #efefef;
    white-space: nowrap;
    padding-right: 12px;
}