
@font-face {
  font-family: 'calibri_painted';
  src: url('calibri_painted.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'calibri_painted';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADGgABAAAAAARhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAxhAAAABwA
AAAcbrQkfEdERUYAADFsAAAAGAAAABwAFQAUT1MvMgAAAeAAAABQAAAAYFkFArljbWFwAAADVAAA
AXwAAAIKqjgH/WN2dCAAAAa0AAAAGAAAABgJEwwZZnBnbQAABNAAAAGxAAACZQ+0L6dnYXNwAAAx
ZAAAAAgAAAAI//8AA2dseWYAAAeUAAAnRQAAN6ROeEWFaGVhZAAAAWwAAAAyAAAANgheNKNoaGVh
AAABoAAAACAAAAAkBicDQmhtdHgAAAIwAAABIwAAAjKADQKQbG9jYQAABswAAADGAAABHPZhBDht
YXhwAAABwAAAACAAAAAgAaoAsW5hbWUAAC7cAAABgwAAAusJ0oM9cG9zdAAAMGAAAAEBAAABSQB7
Yf1wcmVwAAAGhAAAAC4AAAAusPIrFHjaY2BkYGAAYge2HqV4fpuvDNzML4AiDJf9fnjB6P/fGBiY
1jBrAbkcDEwgUQAwngssAAB42mNgZGBg1mJgYIhi2vr/GwMD0xoGoAgK6AEAXKcEcAABAAAAjQB/
AAUAAAAAAAIAAQACABYAAAEAAC4AAAAAeNpjYGF4wfiFgZWBgamLaQ8DA0MPhGZ8wGDIyAQUZWBj
ZgCDBgYGdgaQABQEpLmmAAUVFNYwK/y3YIhi1gILM4IIpn6mv0BKgYERAK0ADQ542tWQsUoDURBF
77zEze7WfoA24h8EP0BQVEQrRSUIElG0UQuDQVewECFiEbEVicRGEGQrqwiWIrb+hFiYNJHnWdyf
cOHu3LnvzsybZ1saFp/NgBZkVyV9KbJUsdUkN0ceoT/zb6pkFfSUPONDaAneKbQ2WPd92yOeKLA3
hdak5wX8Eu0WnCvWqULdcHatgj3mc+a9dw0N2Ct6Da1D7xf0RTBJ/k68YtaGAn3Sbx/fuCI3xtkD
3h5xR0UX41sGm9zjLp/ZVuhSFe3MezuiLsn3ATZBr1Vqp8E23jp3+4Afw2dxVPE+UTPKvVcUuGz3
CvMa/scOiXXyQWIZzwi8ChLmLRDXfM8O6FVWQd/UZzO77Hj/N/vfYIk36ML6+Q76BZI7P+EAeNpj
YGBgZoBgGQZGIMnAyALkMYL5LAwvgLQZgwKQJcagxhDNEMtQx7CYYTnDIYYjDKcZzjNcZLjCcI3h
DsMjhicMrxneM3xh+Mbwh1FSQVJBVkFJYc3//0D9CgwaQH2JDIuA+vYD9R1nOAfUdxmo7ybDfaC+
5wzvGD4D9f0E65OB6Pv/+P+j/w//3/u/+/+O/wv/L/g/7/+c/7P/z/o/8//0/1P/T/k/6f+E/73/
e/53/c97kP8g90Hm/QcQ95MDGNkY4JoZmYAEE7oCYBCxsLKxc3AycHHz8PLxCwgKCYuIiolLSEpJ
y8jKySsoKimrqKqpa2hqaevo6ukbGBoZm5iamVtYWlnb2DLYAc2wd3B0cnZxdXP38PTy9vH18w8I
DAoOCQ0Lj4iMio5hSGFITc/JLy4rLa9gYKisrqqpZWCoq2doYGhsYmhpbm1jYIiNi+9mKMHlhwQE
MxFCdXYxdIAZPXCZ5IykzDSGrGyG3DwGhsKiAiT9ALeQd4d42l1Ru05bQRDdDQ8DgcTYIDnaFLOZ
kALvhTZIIK4uwsh2YzlC2o1c5GJcwAdQIFGD9msGaChTpE2DkAskPoFPiJSZNYmiNDs7s3POmTNL
ypGqd2m956lzFkjhboNmm34npNpFgAfS9Y1GRtrBIy02M3rlun2/j8FmNOVOGkB5z1vKQ0bTTqAW
7bl/Mj+D4T7/yzwHg5Zmmp5aZyE9hMB8M25p8DWjWXf9QV+xOlwNBoYU01Tc9cdUyv+W5lxtGbY2
M5p3cCEiP5gGaGqtjUDTnzqkej6OYgly+WysDSamrD/JRHBhMl3VVC0zvnZwn+wsOtikSnPgAQ6w
VZ6Ch+OjCYX0LYkyS0OEg9gqMULEJIdCTjl3sj8pUD6ShDFvktLOuGGtgXHkNTCozdMcvsxmU9tb
hzB+EUfw3S/Gkg4+sqE2RoTYjlgKYAKRkFFVvqHGcy+LAbnU/jMQJWB5+u1fJwKtOzYRL2VtnWOM
FYKe3zbf+WXF3apc50Whu3dVNVTplOZDL2ff4xFPj4XhoLHgzed9f6NA7Q2LGw2aA8GQ3o3e/9Fa
dcRV3gsf2W81s7EWAAAAuAH/hbABjQBLsAhQWLEBAY5ZsUYGK1ghsBBZS7AUUlghsIBZHbAGK1xY
WbAUKwAAAAAC/gDTAvoCgwA+An0CewMfAO8AIQJ5eNpjYGDQgsIIhgmMRozzmMyAMIdpDtM3ZiPm
IOYc5g7mAywSLAksm1jFWEtYL7AZsJWxPWIPYO9g38PBwOHB0cHxgHMRFw9XC9c1bh3uGu4dPEo8
eTyTeI7wivG68W7jE+DL4lvDz8efx7+P/4OAhUCXoJBgjeAhIR4wzBE6ISwkXCb8RERH5IiogKid
aIXoGdEXYmliR8SFxNPEz0mwSPhJTJN4IKki2SZ5Q0pLKkvqgNQBaS5pNxrBJOlZ0pdAEACxKUFY
AAB42l17CZRkaVXm+5f3/vf+t+9LvNgjXyyZGZGZERmZWbnVvnRVb3RXb/ROLzTQQDd0N43D1nTT
KKDCEVBkGWh11NM6NjOOhwFFHQdkBj1w2jPtoI5yHBXloIc5Djqi1XPfElXMVFRVRkRGxPv/+9/7
3e+794aAhbYgoBH+mEAEJoxfQMJk77OM8u9svCCJf7z3WYLhrvACyZ8W86c/yyT1n/c+i/Lnp3bb
7k/tbhsp3/ryl/HH/uWBNr5FEDB80p8JryUdwRAiQXAPUBiEAWZSf4y25u488D2JSWPUYANZoqIl
sbCpMMbdLdOzG5R4KlbkpH7p07KCyeGnP3dp5DebpinSWg8+W8GnhG8Vn92Cz57DJ8OHdce4n823
5hthA/vwmHnF1Ww+khiSpZhzEUv4/WRTF0WMZQUZic0IiTjl5s9LEiKyUvsg5So1wnDTMkNf5L78
nJDvhQv/hH6JtIS7hNfC9TanQRMFW/NDNGXSutdAYQN5BjKRD3eKpfQz+C8MmIG6nX4263aYIcKC
DFTsfmsGPzZnsNStA9TP4EE/O0Bwf2sebuVvNVAAv3zPGYzXJgQp8q4oSabNmeyYfsPjCIma4xmM
iIQyqtmxSCW+bOk2lTGVuVLXFExFVK+5Xgqm1AiuO/AmJXQ9ldCfw+vNQFJ0436R4e8vzecYK+J0
srwpyjIjamhyQh/QmGpbHF6AZb/RH9gqY9JzjGBFit1ok3O4E/SPMEkSDdM0iChKbyLwRzY0m8N7
dPsT6xhRxu9nliiDCQUE/96JHgEbngILbk393GxBaSkDMSkIG6QwnYkNOMateWEXMAicLdgit1Fu
pllupQP8WXw1ZfK1ttZ3buh1dITbB6P95ZAgUe9cPxCJ4aj5olh33nP8vaVpL7IyV76uOzyrKArv
DWsOI3LkyYpE6lnsMEnTVNuvd4KVtY1a5LoTS+kGqcSUYFOWudX1gtAghKrJ2D1huVPLOen4kQkf
JYjg59/B50lb8IWOcES4Ubg33x84SAPlG8s9oNzJLMzgEXjIdGO+OQPf2fDBQYubgTpZ6Q/z8AAt
nIgZpHrvAQ7HKH9laYxsZFy4EJgSxkFsRs3BuqmLnD8+sBlm1Pa61l93261Rux03Tu8fqbW9R+r3
tRJFvzr11kWJa1Yoq5ZrDZuuLCJY4bv5cUplxo1gW2Ei0T2Ml+tpZ3ni6lIYh9c0WrYSbMfHDCZa
K2f5nLHTW3vj1rWvvNgwVP6L7cd3V5+TCZM2vPD6uGVLjCK3Y3dWs5XatqIysVs/NKPharNe+oEC
Fvo8+EGzQIXpRukHpWngL5Oy4ugP8fxhxTBVCFqqa51MDdVG6lLdSpIjsUIx7WdEMRQiMStwb77r
w68c7rYi3zDldP/R/vb2rQ/cA9diwh3C+4ku1HKUmG6AkyHAHRPn17gcfhkXA0NnwbhmOzVHFynl
jq5gUU91QhSmLf/5ie3nx5sYgZHTzvY9BzuDN7xmo9gLR3+JbiEjOPcShaYbWyXQSWaxFwj4jElw
yW4nj3i4X57zZo4AxUnnQf+T7ohSTEKvzySRqEHH2rAoWxn0RTF1uKNaur+VtGppyzOGqQ7BDYHv
+elS3TJEzuAVXkMf2kaDJjVK/aCjuVxF3HIiLfYcSbLcWp1qEpVVM83jEF2LnidU6BVrbuLKJLmj
jtGk+D+Pv/wGRvqNZlOk5/davd2zGOmJ7cDVT9TrlhS68omTAKyI4m/H2amjlJi1yMT4mqNNezg6
h0XJjzUIMHaw4he2YsKHhH+NXitYla0K4xTHsDm7UW1KtVO+ZfgS5X4H3akhdfaaloGRw1uj46qa
+w16DsVYFNQqm1RwGgS/3VSJbr5oahj9perafFlWIJOslr72PeFJdJ+gL86/fFc2C/U0jsCzFGvL
0NBNhp8YluYQ25qW5worPQE+2imwClwUkomBi5AsQ3YRrlvz/6mPTAPQVZI4nTQV3w6Yb1qqNV0z
dFlZWsf/MEQYjtfyGtr75uZsbduejsaqA6fzbJLUm9c8UOSX76DPAIbEwqzcXRkK+dX6+aEUrhpW
UJm7Fq5cB8AAXvAu69Gotq85lkTUtJ/tPRDN/JBKrrz/5iyNQ5UyLAa2W2uZvmdrPWbBr44Qn2Ou
nWivf+j48mTJ13yX7Cyv3/ZzXXN/VZLjKMjOTE8vNyMFI0Qkahr1Xz7f2Cti+OXvC99Ed8J6l6uz
YBL4EQY/6meFfbfmi1vxRHnMD6dXUVEkojTptrXO2uaFactZ9u3pFBIHBSBiw7jlUshAXeJqWFW/
+ntRIhFZ1yIToFdGkhXYCqfSz3zeX8a4F1rcU52gU57XX6PXwXltlJgyDxYYCrYqT/3/ObPc5XK7
sSJVz5eSnc35eqQzTJeOtaNk/+hNooSY/LF3bPcsPQp3NiEuueY0lhsHOhXxPwUmchpWbXT+9nNL
gwFSZbUL+RapibnN5E7r7BnfnzRDTYPn9LStaoVPScI30DNgs8PS/yHsggLR83PGP5An4IniuAuM
KFZdcYPiYc4UHovvSTpDZPgi1fvNQNZi2T5X9+/LLE1Sz2xN066tS0O9Pt5pyK47neqNSL96ad/A
bocEHKnWVWvpcltW1fYHVk3dEDWvZrG63Ux8BXiBYsXHGwpFWIsMQyay767utHg8WJbTNOdCsvBt
9GWSCGNh/3JUXT7/LgtTVO4Fbjn5KWAW5ykMHpY4HwC2/z3PEgOsDHHTDxOw0gArhu5ZwGikJ55g
XNQsX210OB/224yKadIOUkrOnaOQ3FVRc6dbD74aI8U2XBttB3VTSgfrwF/4wAqHwXjDsg63f3p9
fbKSbkKqwPsHpd++LPwhej/4SY7XBwSW7gcGAR8pYDC8chbFQeQPC7qRI3e/uM2Q3tuZPDRGlHdG
g9cC+NHDQb92LIDMK/dX7c4Hkv7AUYa6Gi3vTUNLPrz/RiCahISEYCCYlm1IFInLY9ulsN/mbvh6
0xp0JF1R9F1HoRoHu1uJ49dPrAJgK48/JhT8UxJ+H/04rDsrM83GAjxzc5rVUheIiAuDu2M4hBwt
4DfN0n+y54d3nJZoy9CyMLHaG5J4/bl5zTKYVVsaP1tv7LTEoKYtjd7Lg267HdoxQg3fGS/PRQ5G
snuRoQFBJFS2zw5qBBt1u9E68yY3tEzrmts7z20n69mlP1NEybDiwDmaRpSEdu/+Ck8/V9h9lK8+
Xy7Q/wLLKnNnhcdXCRmeKOjxqZUfumWk2zVrqtkijpuaM3SjdBDzdaqAPGDqExu74OAkzJMQ1w39
aO/ttV7DOH111PNsf3b+ju4TSm0lBuZGgP3qQAoFUDhc+A30cVhLS1gXThf4XuCD7+WLytdUkvND
dIV5GZAiC+qVuwLLWKd4fXAlUrOz9b+KUn3Sy27yx9n77+2FnX63lXpASNWvGsfNoDZyVd2MZqur
sn4V48yobw1WI1NqElJfWj29OQIX2byrt7Gkb5yIl1c2ztRrneZm33EtSPeK1jadPVXEinnUjL8X
oR3TbQU29znnumLGnb5Q5ZD3wr5mBcOeF8QK8kRQstCcVkFin2WFygg2SoPPiqfx5qxIL3lsLvYJ
L75Xv2G57Rr1tkOpprq98fz4JlCOXH5IzHGci2HQDjx03YmdThAoirz9qTPHDQktXzdJONAnFpJI
xkzxtm+/cNXGWqs18EEScG4ZMmeUMJUrStMf1iWMtNBsbywfd82t6eC05WcnenCiCvdXtqel/8vC
3wvvxL+20Hs51JRbyuZltswhp2SOAOda6KhEUeotiRrE2jWU3F90SpckoLcUvyBSMzI1TZEcvRX2
Lr2gY01uNQOWB/FSbBbXe0T4GP4o8IZGxVYKuVpcD6Ivf1CAXJ5Kzlh1x3WCoE6J2OYppP5ax2rS
Wo2r+D0Wst3QcwiNItO69CIzO36nMR+M1ye9LsQFQVejT+L/IwwhSIo8WpAMr8jvuOCR/TEtlVB+
bqhzZBm0irJ3oXUPosiJ1Sjr1u9m8mSVjd1OojcPpzWd37I2wy+loucYytJAz0CQIW4yvR5oWbup
ByRQHJvHraQbuTuul9tXQf8GPQ/27Qlz2O/sAIclVYZgWLbHJJwHl/lWqcGC5ngretQ+1TO8H0P/
/x987tSq8oarfkdXsc53nnpqW+Gy0sbvsEFqY9DZVi2WFIKJrP0rWVTVngZ0Pj9vRTW5UPHqffTL
wFEzWM1agRdhtYIyZeeZvBCCkCSLQ+8ga//nGHmzrhHTvbM7yD7si60+e7gb9Pwb/i2QVoz/AanR
RYp2DatnOBNFjW5fAp1a98ihIhoalUa3WbIZFP728iXhW+g8xNJQ2LzMKCoaUS0hD5oFActY6Rtl
Wi+JRqTMzl5c4m0JA6G/oMIPPYyZhHnaXYYsqzjHu1GYKf6PWYYO/mcdsQhwX0TV3mvWalarIdrt
NcV2RK3WWu55qqayN4SrumToSG9c2mZYkYe6Y4dGXMSHKNyIn4H1vlp4O5hvXhGg4gSLOJmUwZIn
4nwnW4vzhFg/RJtVCUKqsnNYAkcDg5qZl68rRUF5KxN6ns0vK/cqv/QzxDu3nQDdeQpytGxdGMRz
rvXOP6mwtrS0ansnfZcpjdwKBlbU9ZZXS1I37R68P9W6DRtgXOUBAm+NBz3v6IVDTarPs5X1XjNw
e2FoNrivLvc9dWPv7UpourZlygayuBuNMoUhWQO/RqLhnGv642sfs7J9JtqmZXWWdlcf86dDSWKc
S5Bild6Ra2dhonS8P261XCB9ZKWpn9i/eSbrF1pefnnIgu3aOIxcA/CLe1GgWCff99it1/t6K31R
Um23mR3pcYYkZXnSjfzmAqO+hr5CBOCgJy9z+Mpxy+xckqKx1AFa1GEL/CpEf+5BOaIZOMy1Yfbb
suPBY2raGEWxSHc1Qwus2MZYJJw6SsuPDfkOrExEtY2R2+93hsc1XSSyIZmxSj5bb+HvKsA+JabH
cQ7oreSFKMmyKWWGbovASJDcepQqpqUfefUDr37ivgFGMvb75vDcMkIWO3tdvicC+un30RthTx1h
KlyTI2HpG7lghJ+kwMG8ppeRfCNFkSLf7CEuEgjLOoVD+Q26EW5Mg4p3ZyvWK07uR5opSaZXs11d
dEO/u3vmCUpyUOBfdN8oikgk9min5soIm3bjGkvLcziSqW95FI9q5oyZIf4+xdgM1Ho/7YVOFBpB
2giWwWUdOFTYJPr3F5lyQuai+LSVc/HEdaJW+k3GqH+EsEbYkHieZ3r7iWO4lUb9XfQ5osNuy9pE
UHHCnFaV/l4cZU5hioQAT5csAQLg49Eg63f8rmeKVGrZfLjuHTnp6hKXV/zhM52kP9l+7Wsc3+UN
EDmaLev7+J85qEbHNw3NJpZs890TK++Kgw3us9hV4lrXSDcUwzVXzmw3zx5z052qFvn76NeJL9QK
rVieSFVsyHGokyPTGB2i4jScIjhheaSIz37W677/8HBQN7mOND60p7+WdZsyJRjTr2e3i6IiEbeW
HZsosmMZoFq5bg6I4FtAr+u18fZkZ+1VzpaCiWZZtS+88/CeuYhFeunVCiP5c5x1hmtBozPctZcr
3vdf0PWQ39Yq3pcrBOkK315USpuoQiSppCm54H1g6/zRQdLSH7w+Z9mvPGzJKnfD85M6JlR6+OoO
kwlnP3LbpiSJmDge/i5oCTMCNYDwYL3Vh2TMzViSwEMk5cYb83NWazJwDSJJ933iXxRe1aJ+Ex0n
SFjKeeAixSyjfEV5iReW2q3KNzlFBVivme9+tyJjhWWnHqCiRF/9EEAPU39Xlo04ZiIiIv47RwR+
1OUyPXHcdRGyNVWzzxxfX05U/qU/XB6mhV2+hn6XaMKZgs0vxGpOxVinomtBUSksmBgFxMhzyrR8
Zf7rLrx0QgrY/frSUtoCxYl8LWkltTgeTDpexBGdrAW1dNzNbJFgWbJta1yvDe5OgEdSyl5/9cnN
NLCdFiZBu93JiASrbjl2XwZ+r4MMUeuNbppd81jDYDJLx77rg22CwPBY+9z9TtxGbcdNukdvv2N0
0Lfdwpa/g34c/5OwukC/Zr6+IiGWJ51rqgmCXFRW68FR+zgzRc0IFUIef1xmuhvLYn5iDHS9Cegl
6w/cn5eRVVPVgDAAkfm2AquXX3UvIXdfPyT49PMv9eu+yBk7evPtsggbfesrxrLOWuvrSHmnUOnu
XxfuIaLgLHR3tZ4sB1onkofg80BpwUZFeRR/n1NVufi+l1YTVw7ituMH6NfLz3lR+CsiCWnJrnOU
KdGvlO0bZWl2/hke+pDhAM95XputWa6i8abCDjgAMv6eJfNLa4ACikwK1dLVVFUhPP7id/JryMJX
0FOE5ZGN5nk5MVhUfAqR3c9FXbH4TiFS+rNNwN2N6bxMMwcIxY5hiZzK8l2OG4att2W9Xqu/8XYu
iYQw3oOfImEJOCWsXcb4utvxdwNKU8d7g6Y2Gt2nZ1PX3jh85qEzmaJp0uTY8d8i7NEMkoN8510Y
XXd3cc4vogNYY3LFnr5UQlBZXMuXZtWVnsoxaF1RXDp2r4dVeXzdWxVbA8zDqrbzKU/9ospEgO8l
EAMA7Prr3oukKia/ijfwd4SzP4huORfJycthCcBOGSyzzVlVU1g0V/ql7A2DhZA7wC0jjWNFuhEE
iU8kh3RCrpxPG55WtE+WVJHCj4BDzFMpHrcc7bxl7LO8IpXX7YKEE0QU/OeckKTpfMELtger7Pqp
Zb1viiHy3UtNBg4jqWuHZz+31xDpoR1u3z9W2UfWxk89+NRe1DDEJOE7z771yW2hyjEvol8AfzyS
n3FuPxNX1CDrFz4Je5KCghzgrbXNg1Le4wWXAEPM5uhJB7Q4xsSyItvy6441nyY1BqFDxUyWJZGK
WtR29Fqqeoo99w1DpAg2QmXHuOOn/8629ebKUvP6CypfXuEvfcFTMOdIewbd0hJVJbBWJmbaWDtZ
q6Vf+IkThT4Qvo7+kTigvrav1CdJDkW0EpaVQrnSp1jI5THpZz9Rb/W3z7RM3zFY4ClOmK315zeO
Zqu5uJXWPPPb0VP+GYP5TrSbvQvojahwTQTdrgIl8Hzu13vJVQ+s703qPjclP9naXHrfSvteVz+q
ybz92O4P+7GlZjXzQ3Veb6ShaOVrpsJX0euKvkxWeSoupbCJ/Dzv9IHDgvPUi/xYlFHb/q+M06Er
0lHktu6aNRqyTKVfHQ+ouDXtuZqPIzMlthVGxvp+o3Gt58iK+KcIK/w30R37qmpcvBUjyfCX1kPT
EKpc/fNYxH8h9IW90pvxAut9r+p1jNHlnHdwpd6wqPGW1crPREf7q92wnjJFs4xxD7TrRrvZOtI7
Ol5Z90KgSoHaH/5CcHUy3FHlgBuW2dvvX2cwkeM/BeKj+EE6H88+2WxQ2k08S9eikFhcNA14/zX7
p1aCcfukxpj28K2HKyCtZVfiwcw793y5h/+ObsAvCyvlHhZ0tuRCflix2kJ/l8oI5W68oLVl7Wk2
z589Et5S63R8k5jbOmH2SZQ4uu5ayeqoXVYCA50TEbDTfPICIwjv7gK5hVzqAtGTZd50I/+6I4bK
a7/kJjzuTC+sy8ojj0jwUpn73/4fNhONY5YjnzqJcdDXTU1hTlGr/k/onoqDVMFUUu+y+or9sJJv
lyt+VbMR0KN7dM87oeXNrZHfu87iqweH2wGq1favurW3EioDOxwuH29rbHk878eJhD826xPU0Hmb
c6K59V68Wq8v72zuR6Hr884wUGjOvo3earTkhmmnd6TgAl9Bn8b/UPaoaMWCcuZWUoJsgnOoDyz0
kAxhqp46kdfQCVWNusIoObmf4e+KIG5WAGkhWi69NbIMbhLb+KM/oqITR5d52Cfx/4YzrHovUtl/
LfYL1BDSSJ7RmFdGSEXBEqWpcApMihm89vDAtnQQqEjzIOECJtb6gyd6W6uOI1L8N1zUrZXe2zfn
LWegtbRY9WZnT71r3o24/SFr+0df44em5k32tn/xF4Uyz72EPoX/schzRbUhz3RSlU+7ZR2H5Ooo
d7W1CvYOSr6DHpQUlapUJhKLE0UajkRWc0xusvB2nyBf5wO94YPAA81vOjaRxraF/4DqqozpUtTd
3Jokz7xZBNZmBrVXIOUgtG1ZuqpzcefEtRgvb8712hPtnKNR4ffw8/h7wq2wRk9a9GoXSJ07/OXE
M8FZUXcNrmi+sj6Bti5jZQ6XVfehUBb4+X7U6DiMxV7AaF5AWwLsZrLPNFszoo6/LaOOp4grlIyI
JDM7Bh1DIyolzHW7jZhTjWsUPFOmFieNphsQ1rR0CX9Nf1L3965/x4GsBDV3c2tz+R33t/pX13dq
joTxwc8e8sfvUyAxsw+K7srK9m0Y2/59TvOG9q0pk3qzYJQOPDc1U3ebkvsfmu2btQ7La+eXIG89
C2d2NK9V5ZtllwsGZUgVkT9BVT7Oqw0oT9hXylcVSYEjzBQVMEgzdS+s1VSVm85qzzIUR4uTlTgy
kmOQoXxmHLKWZFiGYdbTCUaq4SfTiUjiVDHwN3QVMjSIlPnOsN9VtVrr2GwDIhXF2X4/s1qPNCyM
jeRedabEvp3WR8N7TZkhnF5/VqSNdb9X+eE30FsAG5YLfbJRHFJBuos2zIJ65RvKinZMUf9IbNmq
syQImS2KpnMrhJkqy1GwloaMiQqrm7LUOLUMygj/rYK3tdXestltLn0aE0L0zmzljq21SXZRlZE1
HB6dnX3LeV9XC17w39Bbwb4rV3hVWaHZ2qjsm12pGECi6HeK1dTZN0f1GtcfTu4g1H3wxEgzqc7f
9DDQVzWQGkt2Y1YfOhQ98kaFI/y/gOXTtt/61NIvS6KZT2g0OQQKMDHZmvSnS/unB/tdkHQKG5R9
h2+gY/hnIX/tLlZVNs87Fe3Ni5Zb8wIs4ZnScEXfqtMtKvsloD5y081e3tlwrBhjOVy7pxMaknbD
+T1MdF/ST/a6TTheM/55IKYbCKWhyX3qmNPAW8MfMSdn27uvfEaVua2bDdqBXHVsF3QcWVsXVaRy
LdR1pl5CSCWFVvBmloF0/UzJW76C7icJ6LvtUmkFHqy3mjpYaCmprOCVTouLMng+ygOOUBXCbZbJ
EqUNt5YmnUR3PCWsaSfC3nrUBIYISBzIMv6mU0/jWnO8xvyhYVNNggxg6MYvidTTmKTr9mTjiXmy
x7jsBkg2NBkRsHzzL0DnqFHtddNZ4Ibbx7NaxYG/js6A3VcrDlxicrHEqjRcNITzO8XgU5Gs5u89
ONkDgIgHzdTqT4C/UsZk4ApG0usmGpCZfNrjzLHpdqpKBP9o0LGbfko9ixHpltOm69m6bQFnZ64t
U8w4N02+iZb340725YIHfA09SJqwpqNVtToM/CKXFJiYzzhVfb+qoQAB30R5lZTl6URiFZcP8iIQ
6hFFBfADfSCz0Mw71KgbpYNBqNuJLoPpDvzwFgBdvmS77dU0BRlv6Ka1eYNGHBnSnyS9+Yef/gnf
YJCOTLCvtVNPW73TtfpxkKuqGjunDv7RAYXTbF3YbIW+iukdh1m3rNN9CT2GPyjslOq7wmwvL9CN
cM5iLpPXRQwWZID0L89FHOS1lVxm+CwI4ekPpKeD+i4waIS6D+e9/qcprSnp6Vbqe46q6VRsx62N
SRbrpqlxR8WQxvOWypEPOEGQDCN8/32iqOP3gg7Ud4JkA5OJRcXr1Abskyuw15auOCDbEdOYAimt
0WqtrYz9yHOGt5iK3XR9yHS2XfjNS8IfgL+PrsxYXB4ZQF4FZuDvs5LfVI3lf+WOVY1gxbctScO4
3XScbg/EhajWkEUlS2dINi1gU8SBtAn6IB8E05xmnVBtqBH6U3celXVur351ABRMranwluGdQtlr
O4p+CP+0sC/cKLyq4F8NNK3irrMYxqiG5SpvXjTCcwo5y9HuoGo5FIFZ9DOnG3n+yaWFW4RuUAxD
gFc9qc8mR3jPUk0Kbk2I4QV7a8O6oeRd5VsOzw5Uw0ta+7trvXgpMnXNoLYK3JEra88Mti3QU4yt
JiB8OQsx+OeKNXtSBckY3jsLRPwRigjFVNVMIxr1NuqNkBCQjhpIaYz0Wtx7VQAZVnWy4XIEnMI5
HphG2LrZd3u3pq6k+jXPjXHu7YGct74ufVkhyg0u3CNOI/H0Ku5fRGeJVMwxzMu5EwOlKFgv1W/Q
xEHJN8YU6IdZVpUBtFzmaRormi9iojlhbT4MwCmIwhXdJXBVJ/CiIF5CmCcOA8D/virHk8xMA1vx
OQADCZZXnrpzpGmYqU9tHay5Cvebb3twRdEwKmY5f0+4F9bFhXgxb1mUpMJ5s9B7OQHK5qnhmKGe
xJ6h1i2QQlKS5LU7A66GNWfTDpJPGar0+c8zSZQuXGf5/66qm68Kv0VyrG5fZqfwaWGJMCHQ8xKZ
53k7gsweUsequ2YYShBQbvgSx9iysvoBJa6fSB7C37Wo282Zkfe0BoTHjH81fanVrBExcx0lRPzj
BR/+j2iJeEV3p7xiMZRXsbWgFGBF+61ge0UeLrQNnW3O5q7ShEQviuo17dC1TAURSz00fH9rFFl1
q36bLKssb/ezxCd5358SWUWa8ZGPHFdYlqgIM821tZuMsHntem3KxKU3mxZBydpaU07blMft49cc
/eTryprTl4WbYZ1atU6nOHzsiEtwDZGaiSsyooIj8Usff/BCU5G+hXZKvv8H+CbAuIsLpC5q9mXZ
qCgEQ4Ir6kk0pzVFabu4QX4sE/vmHprPDsSKsxUokRdp0YecA8eqxz6jitrT8qqvHm6fCMFPIw0Y
GRaJHoee57coIBdwU97lTEQYQFGSqKwpJqGRFaQ3DoNaip+Vge3XwvG1t969oei6Mrz2tTf6G7e3
3/IWTQc5qLVHg0cHaV3jQTuqdwf9wbVMZaZ6+JbGYBQnhsEgTVGi2LISGgqSRmEcFzzqG+gW/CN5
lqqmjkOvkg5gBzH0gqKfJeX4UXH44ng7RYMMtbgqG5JMQIgyaobdVt2xXJvlW1V1mynABAiCs7UD
zwURrykcS5RPzHy0ieEfyqHGMPORKRHeDpAiclmP06392c6JtoxFxXJb3eTg5KancNePh+uTE9vN
ycUHbjjSFPDL/yx8ET0Na0/LinmZm6ouS9V9LbtvORnA1QhC3gXNPpbcEcbTfIJa8xOv9lCtdqh3
IOhZZ+ldzpmo3jLssPNGU7Z4gJ+WuK7t18PTo7VOdxAyjmVlGu6/4cEGj9ybDaoZg8PpcGgFoqfO
DuKVLaGc556jx/FnhGaJTuUo5ZUJx0VvMCiGC8pZtfAHBHX24btfUbdTv/noeUjL5ogxcDhT7WAq
69o7Wsfjhgym8x9ruUme6238tqVX1OcHs9emI96mhrZ/s4WY/OcvPAtcW9U0fc0326N0fmiO+rH5
0Kwfmu6i5jIv8ntW9OEK9hzsljXDomOfp/hFilnMg4WXp5DzxM+qkZ8xemfo6bfpSqMB0kGSw0il
oiQ2Jnv1QdxMnAahTVXU75mksWuISqttjGNRFxUqwQ2OQoddvEdBrii+++2X/kTThldd77W8Wuea
vYNd0HQjidALqtKKWrXN+wNF1IiUzywrmhwtdZbqfqBX9cL/igz8UaG+8Ii8Z2KicFEirDBra/6T
9o7rsMhb67XrFKjfigwoRS1XM2QchvjHJUnhvVhUjVH/mWdVAxk6au5N64waFradSg/9CgLKfblO
IPWLNq9UOmJVUy1ZfkGP55UIeGX6ei9oNp2sVaPE27h2D/RE4O6/adCAnGq4vU7d8fRmdHDiFKOr
+Glb9aOBxtzUc73W5rLb67rHenoS6DkpVhW9uZI2XjF0t6vaxZ+gOhGEyaIntxhZRaEH+bCovBeT
hxOgwGWxZH6I57dj2fQdmY169XRpGeRCEDDWkeXDcQPSkigmfpp4dYzw35iS3+5g5HqeTcj56w9P
YgK8mfn1BqNJ7fDIbRcVKVB0D9O6VaznS+hOOI/VokZfpYusqEQb+HL9K6/1FWQ9KKsAqBXGOQGX
pR5ARaw7UboTuquMqalriYAodhKutj0bgBK/LY7lox/4igIKUeMuwDvCGt+v1d73+Bj07ZljR65a
cSnLghvuOr8uVOf2JdCx7yznSHDRJ1rUJhb1ua0yYsPL7BadIQDN1FKxxLctx9CHtls3BnObqG5D
2XJcRZXUC1x08VsQRqAiGuvPJc1mYzTceM/jWaL5lviQxrLVVh/T/zCLe+VZfRXfALF3dFEpLCo3
5bRGUcQvCoNVLaDSXGU9pVMtNm+o4gmqJYPI8d08bexqVqgr8w1J8lzDaHI1ojRcc+S46RjUnNYk
TORlxXTdIPJdsKbu47eGy1fvrfaDQLR+p9bxZOknP6hrRw/WVg6BjWjGuU/cMW5A6pBrH74WNNIX
hj7rTGeN01uDkwJ6+XvCf0a346d/YBIXtlCcYTXq6JXQV2JI1X8o24OFoT1R1by0s0RxK9N0Szdl
Ip0brLS2QtWGpHWUid0l19D01dZdzWZgiPjxfJq9Npl212xPlbTWnWvK1vBuSwuDeu3i7oFvQxBv
foLLqyvD2FvM0J9Ab8KfLPrUgHCL7sDG5QLTbgHOi28XdDsTNN9aDHDMWkY+U2Yqketx3VFl1RhS
kxtGoPttWJjaCsNAs8048lzbtI3Ewz8FksVvR7ujbHl9rRM3Xq/GttKPB5PTu/Oad9+5JU0/e3bQ
35l10rN7o3KNRPgmcJVPCv1qSrScbbpSLyqa6tX8dzcnJn31NXd2gUJwHibZSUxvvkXNv2cyvHi4
5ilOevt8f9/QMf4IM7qGZcju+NhTmICHiD1dzmsrTPZOPXcPAVndKn3xTuF7i1lPvJtHQ6ebT7j5
QZXyc9woRBLuVv20/PyqVivw7dmdVI0a+1T0EIplBBdjKhYlQ+NxphOA9zSObK6IFDhvR+M87y47
TMSOLYqNi5Ssb7uaDa6wsXJyO6ByR2aE8+nB6TheasW+xlO5tbHxRL5WUbhJ+HvSFsb59BWAWln8
L47P9/Ip8AJlAdUKe1UzT+Z0Q5aZKNteM4ybqShiAE89XQNE16xEzL9SAHTFYigISQw5t11/aH/d
p2KjAVSMvWdjbWSBu6HEVcF8/dWLRwAADKf1TW7oxaws+mP0M/hny+8JFC6fxwEuoK0YDcsWE6gF
b3p4qWmuThzVVGjsuebuzutSR1FnqqzxJUOZ4o/qljyR5YgqphqFIo2bx8KgP20TOvAsBdFxs8Iy
hneF20hTMOC62WK8OFcbc43ySFclR5dTC2j/n3ZTxVh+1UFztFvWej4u/C06J6jljGBeqsrBb4LL
Ypp3ZYxpdoB+y9dyWA08TaQfBTahSiBUgBzl3zYBDYX2dEZrW9fVD7Z1RnTu+d3EkYms2Jt+oFY8
A8+El4krmMX1yil4VsixEu/AWnB6izGfmilrDTgsqrs4kj4hqj5bsmQkQpzx/AsdILzMV98oU/n6
w7rDZSJeNVjNv9gUrgwuwOX+L5h0Uf0AAAB42pWQwUrDQBCG/21rQVHrwXNZvCk0pJV68FroRXqq
9FrSdE0W0mzYbpGefAvxGTz4ID6CZx/Dg3+2K4oHwcDufJnM/PNPABzjBQK75wZPgQU6ohW4gbY4
C9zEhXgI3GLNa+A9nIiPwG10Gj1WitY+3x59V80CXbwHbuBQnAZu4lacB26hK54D70GKt8BtdBtH
GMFCIYHjvYTEPTQ5J9W3YqzvAhXJ4I73BFtMkbJPM+swZr5kjJgzWOGAmoZftr4iY79j18Kr1JUZ
1l7d/Jjx7cKQImBkVeLUUt5rl0uXK5mropLmTk6209Tqyo1N6aLUrA5GptpaneVOLlRhymwtnfEd
XsJYiqVULuhl4R3N6S1hLMPOSJNCL6yeV4kuORPcsM5rbLgNJmqpN4xfa469xczbHtBqzHjN8/eQ
Xc0lehjyDNjVxxVFucXY2EzJQRTLa/nLCjOXvWFvEPev/r/FjHnLf629ccmR9dDIx9o0ZsqutSll
HPejOI7lv0d8Atn2jCwAeNptzdsv1QEAwPHPudTRyqUUotxSJCWS5DYPThe3bnRRSa3TiWP9dEzN
GLVU8+Cf6N0b8ydIpmWTf0fmuc/2ff4K27f7Rb3/WdwrJCwi6oCDYjIcctgRmbJky3HUMbmOOyFP
vgInFSpyymnFSpQqU+6MCmedU6nKedUuqHHRJbUuq9s7X9HgqkbXNLmuWYtWbdp16BR3w0233Nal
W49efe646577Hug34KFHHnti0FPPPDfkhWEvzfvqmx+WrFvzymsbEn76ZdNvb/yxJWnHtr/eWjBq
RMqYwHvj0iZ88NGUaTPmzPrkcyhs1bIV30ORWCJIBu8SqWh8Mh38AzE9MqsAAAAAAAAB//8AAnja
Y2BkgAAeBhEGFiDNBMSMEAwAAssAKgAAAAEAAAAA0xXCowAAAADIT2mOAAAAANNO+Eo=) format('woff'), url('calibri_painted.ttf')  format('truetype'), url('calibri_painted.svg#calibri_painted') format('svg');
  font-weight: normal;
  font-style: normal;
}


