html, body {
	margin:0;
	padding:0;
}
body { 
  background-color: #334d5c;
}
#simon-wrap{
	padding-top: 20px;
	margin:0 auto;
	display: absolute;
}
#simon-container{
	margin:0 auto;
	display: block;
	position: relative;
	max-width: 501px;
}
.simon {
	margin:0 auto;
	position: relative;
	display: block;
	z-index: 0;
	width: 100%;
}
.simon-quad{
	position: absolute;
	width: 100%;
	top: 0;
	margin: 0 auto;
	padding: 0;
	z-index: 100;
	transition: .1s;
}
#simon-counter{
	position: absolute;
	width: 100%;
	top: 0;
	margin: 0 auto;
	padding: 0;
	z-index: 150;
	transition: .1s;
}
.quad-overlay-top{
	position: absolute;	
	width: 45%;
	height: 42%;
	z-index: 200;
	opacity: 0;
	-ms-line-height: 0;
	color: transparent;
	}
.quad-overlay-bottom{
	position: absolute;	
	width: 45%;
	height: 45%;
	z-index: 200;
	opacity: 0;
	-ms-line-height: 0;
	color: transparent;
	}
#quad-overlay-green{
	border-radius: 100% 0 0 0;
	top: 2.7%;
	left: 3%;
}
#quad-overlay-red{
	border-radius: 0 100% 0 0;
	top: 2.7%;
	right: 3%;
}
#quad-overlay-yellow{
	border-radius: 0 0 0 100%;
	bottom: 5.7%;
	left: 3%;
}
#quad-overlay-blue{
	border-radius: 0 0 100% 0;
	bottom: 5.7%;
	right: 3%;
}
#center-overlay{
	position: absolute;
	width: 46%;
	height: 46%;
	top: 23.8%;
	left: 27.5%;
	border-radius: 50%;
	z-index: 300;
	background-color: black;
	opacity: 0;
}
#strict-light{
	position: absolute;
	width: 1.1%;
	height: 1.1%;
	top: 49.85%;
	left: 61.1%;
	border-radius: 50%;
	z-index: 400;
	background-color: #111;
	border: 1px solid black;
}
#counter{
	position: absolute;
	width: 4%;
	height: 5%;
	top: 51%;
	left: 36%;
	z-index: 400;
	text-align: right;
	font-family: 'VT323';
  	font-weight: 700;
  	font-size: 1.8em;
  	color: #333;
}
#start{
	position: absolute;
	width: 4%;
	height: 4%;
	top: 52.35%;
	left: 47.9%;
	z-index: 400;
	border-radius: 50%;
	opacity: 0;
	-ms-line-height: 0;
	color: transparent;
}
#strict{
	position: absolute;
	width: 4%;
	height: 4%;
	top: 52.35%;
	left: 59.6%;
	z-index: 400;
	border-radius: 50%;
	opacity: 0;
	-ms-line-height: 0;
	color: transparent;
}